<ion-view cache-view="false">
<div class="temp-ext-height"></div>
  <div class="title-logo"></div>
  <ion-scroll zooming="true" direction="y" style="height:500px;">
    <div class="my-travel-title">
      <img class="arrow-down-travel" ng-click="openPopover2($event)" src="img/down-arrow-white.png" style="margin-left: 135px;">
      <span class="tite-span" style="padding: 3px 40px 5px 10px;" ng-click="openPopover2($event)">
        Mes Rapport RDV
      </span>
    </div>
    <!-- <div class="nev-today" >
      <div class="yesterday" style="color: black; padding-left: 30px;"
           ng-click="backClick()">
        Back
      </div>
    </div> -->
    <div class="no-of-appointment-main" ng-click="openPopover($event)">
      <img src="img/equalizer.png">
      <div class="apointment-title">Nb RDV traité</div>
    </div>

    <div class="nev-today">
      <div class="yesterday-no-image fa fa-chevron-left" ng-click="prevClick()">

      </div>
      <div class="today">
        {{monData.dateObj.month +' '+ monData.dateObj.year }}
      </div>
      <div class="tomorrow-no-image fa fa-chevron-right" ng-click="nextClick()">
      </div>
    </div>
    <div >
      <div id="bar-chart-appointments"></div>
    </div>

    <div class="my-travel-title">
      <span class="tite-span" ng-click="getAppointments()" style="padding: 3px 40px 5px 10px;">
        Historique RDV
      </span>
    </div>
    <div class="appointment-report-list">
      <div class="vendurs-container">
        <span>Vendeur(s)</span>
      </div>
      <div class="appointment-report-container">
        <div class="secondry-row" ng-repeat="user in userListingData">
          <div class="img-col"><img ng-src="{{userPhotoId || 'img/user-male.jpg'}}"></div>
          <div class="sec-col">{{user.userFirstName+' '}} {{user.userLastName}}</div>
          <div class="report-col">
            <div ng-repeat="circle in user.lastAppVM"
                 class="a-circle circle-align"
                 ng-class="{'a-circle-sale':circle.appStatus==='V','a-circle-close':circle.appStatus==='F',
                 'a-circle-absent':circle.appStatus==='A','a-circle-negotiation':circle.appStatus==='N'}"
            >{{circle.appStatus}}</div>
          </div>
        </div>
      </div>
      <div class="appointment-status-container">
        <span class="text-style-italic">Statut des RDV à partir du plus récent de gauche à droite</span>
        <div class="appointment-status-details">
          <div class="first-row">
            <div class="a-circle circle-align a-circle-sale">V</div>
            <span>Vente</span>
          </div>
          <div class="first-row">
            <div class="a-circle circle-align a-circle-close">F</div>
            <span>Fermé</span>
          </div>
          <div class="first-row-extended">
            <div class="a-circle circle-align a-circle-negotiation">N</div>
            <span>En négociation</span>
          </div>
          <div class="second-row">
            <div class="a-circle circle-align a-circle-absent">A</div>
            <span>Absent - Annulé - Reporté</span>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
  <div ng-include src="'templates/tabs.html'"  class="footer-play-nice"></div>
</ion-view>
