<div class="login-page">
  <div class="title-logo"></div>
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="username" ng-model="user.username"/>
      <input type="password" placeholder="password" ng-model="user.password"/>
      <button ng-click="login()">login</button>
      <p ng-if="isError" class="message">Login Failed Try Again</p>
    </form>
  </div>
</div>
