 <ion-popover-view style="width: 300px;">

   <div class="popover-container">
    <div class="popover-title">Prospecteurs
      <img src="img/down-arrow.png">
    </div>
    <div class="tri-angle-div"></div>
     <ion-scroll zooming="true" direction="y">
        <div class="list-container">
          <div class="list-item-container" ng-repeat="item in appoinmentsList" ng-click="selectPropList($index)" >
            <div class="img-div"></div>
            <div class="list-name"><p class="active-list-name" ng-class="{'list-active':selectedItemIndex===$index}">{{item.name}}</p></div>
            <div class="list-checked" ng-show="selectedItemIndex===$index"><img src="img/checked.png"></div>
          </div>
        </div>
     </ion-scroll>
   </div>
</ion-popover-view>
