 <ion-popover-view>
   <div class="popover-container">
    <div class="popover-title">Prospecteurs
      <img src="img/down-arrow.png">
    </div>
    <div class="tri-angle-div"></div>
   <ion-scroll zooming="true" direction="y">
     <div class="list-container">
       <div class="list-item-container" ng-repeat="item in userData.list_items" ng-click="selectList($index)" >
         <div class="img-div"><img ng-src="{{item.photoId || 'img/user-male.jpg'}}"></div>
         <div class="list-name"><p class="active-list-name" ng-class="{'list-active':userData.selectedUserIndex===$index}">{{item.firstName | uppercase}}</p></div>
         <div class="list-checked" ng-show="userData.selectedUserIndex===$index"><img src="img/checked.png"></div>
       </div>
     </div>
   </ion-scroll>

   </div>
</ion-popover-view>
