<ion-view cache-view="false">
<div class="temp-ext-height"></div>
  <div class="title-logo"></div>
  <ion-scroll zooming="true" direction="y" style="height:500px;">
    <div class="calender-agenda-main">
      <img class="calendat-img" src="img/calendar.png">
      <div class="calender-text">RDV</div>
      <img class="next-arrow-calendar" src="img/next-right-blue.png" ng-click="getAppointments()">
    </div>

    <div class="container-glow" style="box-shadow: 5px 5px 50px #ececec;">
      <div class="my-travel-title" style="margin-left: 4px;">
        <img class="arrow-down-travel" ng-click="openPopover($event)" src="img/down-arrow-white.png" style="margin-left: 140px;">
        <span class="tite-span" ng-click="openPopover($event)" style="padding: 3px 40px 5px 10px;">
          Mes Déplacement
        </span>
      </div>

      <!--block line and circle-->
      <div class="today-map-main">
        <div class="today-map">
          Aujourd’hui
        </div>
        <div class="circle-map" style="border: 1px solid #DEB0FF;"></div>
        <div class="count-1"> 4/<b>5</b></div>
      </div>
      <!--line block-->
      <div class="today-map-main">
        <div class="today-map">
        </div>
        <div class="vertical-line-map"></div>
        <div class="count-1"></div>
      </div>

      <div class="map-container">
          <div id="event-map"></div>
        </div>
    </div>

    <!--towmorrow with line and circle-->
    <div class="today-map-main" style="margin-bottom: 10px;">
      <div class="today-map">
      </div>
      <div class="vertical-line-map"></div>
      <div class="count-1"></div>
    </div>

    <div class="today-map-main">
      <div class="today-map">
        Demain
      </div>
      <div class="circle-map" style="border: 1px solid #DEB0FF;"></div>
      <div class="count-1"><b>3</b></div>
    </div>

    <div class="my-travel-title">
      <span class="tite-span" style="padding: 3px 30px 5px 10px;">
        {{currentDateObject.month +' '+ currentDateObject.year}}
      </span>
    </div>
    <div class="carousel-item" id="high-chart-line-basic-appointment"></div>
  </ion-scroll>
</ion-view>
