<ion-view cache-view="false">
<div class="temp-ext-height"></div>
  <div class="title-logo"></div>
  <ion-scroll zooming="true" direction="y" style="height: 500px;">

  <div class="calender-agenda-main">
      <img class="calendat-img" src="img/euro-blue.png">
      <div class="calender-text" style="font-weight: bold;">VENTE</div>
      <img class="back-arrow-sales" src="img/left-arrow-blue.png" ng-click="">
    </div>
    <div class="container-glow" style="box-shadow: 5px 5px 50px #ececec;">
    <div class="my-travel-title">
        <img class="arrow-down-travel" ng-click="openPopover($event)" src="img/down-arrow-white.png" style="margin-left: 190px;">
        <span class="tite-span" ng-click="openPopover($event)" style="padding: 3px 45px 5px 20px;">
          Mes performances en K€
        </span>
    </div>
    <div>
      <div class="sales-table-header">
        <div>
          <img src="img/icon-euro.png"><br>
          <span class="black-text">Vente</span>
        </div>
        <div>
          <img src="img/icon-cancel.png"><br>
          <span class="cyan-text">Facturée</span>
        </div>
        <div>
          <img src="img/icons 2.png"><br>
          <span class="red-text">Annulée</span>
        </div>
      </div>
      <div class="sales-data-container">
        <div class="line-chart-container">
          <div class="circle-chart-day">
            <div class="sales-day">Aujourd’hui</div>
            <div class="sales-chart">
              <div class="circle-map circle-map-green"></div>
            </div>
          </div>
          <div class="circle-chart-day circle-line-chart">
            <div class="circle-line-chart sales-day">Nb</div>
            <div class="sales-chart">
              <div class="vertical-line-chart"></div>
            </div>
          </div>
        </div>
        <div class="sales-date-items">
          <div class="revenue-container">
            <div class="date-item-container-list">
              <div><span style="font-size: large;font-weight: 500">{{todayDashboardData.saleCABySellerTotalToday}}</span><div class="glow-seprator"></div></div><br>
              <div class="light-data-item">{{todayDashboardData.nbSale}}</div>
            </div>
            <div ></div>
          </div>
          <div class="bill-container">
            <div class="date-item-container-list">
              <div><span style="font-size: large;font-weight: 500">{{todayDashboardData.techAppCABySellerAchievedToday}}</span><div class="glow-seprator"></div></div><br>
              <div class="light-data-item">{{todayDashboardData.nbTechAppBySellerAchievedToday}}</div>
            </div>
            <div></div>
          </div>
          <div class="cancelled-container">
            <div class="date-item-container-list">
              <div class="light-data-item progress-cancelled-font"><span style="font-size: large;font-weight: 500">{{todayDashboardData.saleCABySellerCanceledToday}}</span></div><br>
              <div class="light-data-item">{{todayDashboardData.nbSaleBySellerCanceledToday}}</div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="sales-data-container">
        <div class="line-chart-container">
          <div class="circle-chart-day">
            <div class="sales-day">Semaine</div>
            <div class="sales-chart">
              <div class="circle-map circle-map-green"></div>
            </div>
          </div>
          <div class="circle-chart-day circle-line-chart">
            <div class="circle-line-chart sales-day">Nb</div>
            <div class="sales-chart">
              <div class="vertical-line-chart"></div>
            </div>
          </div>
        </div>
        <div class="sales-date-items">
          <div class="revenue-container">
            <div class="date-item-container-list">
              <div><span style="font-size: large;font-weight: 500">{{currentWeekSalesData.tenuCAHT}}</span><div class="glow-seprator"></div></div><br>
              <div class="light-data-item">{{currentWeekSalesData.nbSaleTenu}}</div>
            </div>
            <div ></div>
          </div>
          <div class="bill-container">
            <div class="date-item-container-list">
              <div><span style="font-size: large;font-weight: 500">{{currentWeekSalesData.tenuConfirmedandPayed}}</span><div class="glow-seprator"></div></div><br>
              <div class="light-data-item">{{currentWeekSalesData.nbSaleTenuConfirmedandPayed}}</div>
            </div>
            <div></div>
          </div>
          <div class="cancelled-container">
            <div class="date-item-container-list">
              <div class="light-data-item progress-cancelled-font"><span style="font-size: large;font-weight: 500">{{currentWeekSalesData.canceledCAHT}}</span></div><br>
              <div class="light-data-item">{{currentWeekSalesData.nbSaleCanceled}}</div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="sales-data-container">
        <div class="line-chart-container">
          <div class="circle-chart-day">
            <div class="sales-day">{{currentMonthSalesData.dateData.month}}</div>
            <div class="sales-chart">
              <div class="circle-map circle-map-green"></div>
            </div>
          </div>
          <div class="circle-chart-day circle-line-chart">
            <div class="circle-line-chart sales-day">Nb</div>
            <div class="sales-chart">
              <div class="vertical-line-chart"></div>
            </div>
          </div>
        </div>
        <div class="sales-date-items">
          <div class="revenue-container">
            <div class="date-item-container-list">
              <div><span style="font-size: large;font-weight: 500">{{currentMonthSalesData.tenuCAHT}}</span><div class="glow-seprator"></div></div><br>
              <div class="light-data-item">{{currentMonthSalesData.nbSaleTenu}}</div>
            </div>
            <div ></div>
          </div>
          <div class="bill-container">
            <div class="date-item-container-list">
              <div><span style="font-size: large;font-weight: 500">{{currentMonthSalesData.tenuConfirmedandPayed}}</span><div class="glow-seprator"></div></div><br>
              <div class="light-data-item">{{currentMonthSalesData.nbSaleTenuConfirmedandPayed}}</div>
            </div>
            <div></div>
          </div>
          <div class="cancelled-container">
            <div class="date-item-container-list">
              <div class="light-data-item progress-cancelled-font"><span style="font-size: large;font-weight: 500">{{currentMonthSalesData.canceledCAHT}}</span></div><br>
              <div class="light-data-item">{{currentMonthSalesData.nbSaleCanceled}}</div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <br>
      <div class="palmers-container" ng-click="viewDetails()">
        <img class="eye-icon" src="img/icons4.png" >
        <span>Palmares</span>
        <span class="right-arrow-img">
          <img src="img/next-right-blue.png">
        </span>
      </div>
      <br>
    </div>
    <br>
    <div class="week-from-main">
      <span class="left-arrow"><img src="img/left-arrow.png" ng-click="prevClick()"></span>
      <div class="weekfrom-text"></div>
      <span class="right-arrow" ng-click="nextClick()">
        <img src="img/right-arrow.png">
      </span>
    </div>
    <div class="carousel carousel-slider">
      <div class="carousel-item" id="high-chart-line-basic-calender"></div>
    </div>


    <div class="my-travel-title">
     <!--  <img class="arrow-down-travel" src="img/down-arrow-white.png"> -->
      <span class="tite-span" style="padding: 3px 30px 5px 10px;">
        Service à venir
      </span>
    </div>
    <div class="week-from-main" ng-if="monthDashboardData.length">
      <span class="left-arrow" ng-click="prevClickMission()"><img src="img/left-arrow.png"></span>
      <div class="weekfrom-text" >
        {{ 'Semaine du ' +currentWeekData.weekDate.startDay + ' au ' +
        currentWeekData.weekDate.endDay+ ' '+ currentWeekData.weekDate.thisMonth }}
      </div>
      <span class="right-arrow" ng-click="nextClickMission()">
        <img src="img/right-arrow.png">
      </span>
    </div>

    <!--my missions blocks-->
    <div class="carousel carousel-slider-appointment">
        <div class="carousel-item graph-missions-container" ng-repeat="month in monthDashboardData">
          <div ng-if="!month.data.length" style="text-align: center;">
            <span>
              No data for this week
            </span>
          </div>
          <div class="main-block" ng-repeat="item in month.data" ng-if="month.data.length">
            <div class="left-block">
              <div class="mission-name">{{item.dateData.month +" "+ item.dateData.day}}</div>
              <div class="circle-span"></div>
              <div class="line-div"></div>
            </div>

            <div class="right-block">
              <div ng-class="{
              'mission-details-active':item.dateData.isCurrentDay===true,
              'mission-details':item.dateData.isCurrentDay===false
              }">{{item.clientFullAddress}} <br>{{item.status}}</div>
            </div>
            <div style="clear: both"></div>
          </div>

        </div>
      </div>
</div>

  </ion-scroll>
</ion-view>
