
<ion-view cache-view="false">
<div class="temp-ext-height"></div>
  <div class="title-logo">
    <span class="logout-container" ng-click="logout()">Logout</span>
  </div>
  <div class="nev-today">
    <div class="yesterday" ng-click="prevDay(todayDate)">
      Hier
    </div>
    <div class="today">
      {{todayDateText}}
    </div>
    <div class="tomorrow" ng-click="nextDay(todayDate)">
      Demain
    </div>
  </div>
  <div class="home-main">
      <div class="inner-tab" >
        <div class="my-proportion" ng-style="my_proportion_stye" ng-click="getMyProportion($event)">
          <!-- <div class="my-proportion" ng-style="my_proportion_stye" ng-click="openPopover($event)"> -->

          Mes proportions
        </div>
        <div class="list" ng-style="list_style" ng-click="getList($event)">
          Liste
        </div>
      </div>
      <div class="chart-menu" ng-show="isChart===true">
        <div class="carousel carousel-slider">
          <div class="carousel-item single-pie-container">
            <div id="pie-chart-1" class="pie-chart-container"></div>
            <div class="pie-chart-container-details" style="height: 90px;">
              <div>
                <span class="graph-deatail-title">{{dashboardChartData.nbAppExploited+" "}} appointment exploited</span>
                <div style="margin-top: 2px; display: flex;">
                  <div class="graph-detail-left-arrow" ng-click="prevClick()">
                    <span class="graph-deatais-arrows to-left fa fa-chevron-left fa-lg"></span>
                  </div>
                  <div style="" class="main-content">
                    <ul>
                      <li>
                        <div>
                          <div class="text-dash">-</div>
                          <div class="graph-deatais" >
                            <span>{{dashboardChartData.nbSales+" "}} ventes</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="text-dash">-</div>
                          <div class="graph-deatais">
                            <span>{{dashboardChartData.nbClosed+" "}} fermés</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="text-dash">-</div>
                          <div class="graph-deatais">
                            <span>{{dashboardChartData.nbNegoc+" "}} en négociation</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="graph-detail-right-arrow" ng-click="nextClick()">
                    <span class="graph-deatais-arrows fa fa-chevron-right fa-lg"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item single-pie-container">
            <div id="pie-chart-2" class="pie-chart-container"></div>
            <div class="pie-chart-container-details" style="height: 90px;">
              <div>
                <span class="graph-deatail-title">{{dashboardChartData.nbAppNotHandled+" "}} RDV non tenus</span>
                <div style="margin-top: 2px; display: flex;">
                  <div class="graph-detail-left-arrow" ng-click="prevClick()">
                    <span class="graph-deatais-arrows to-left fa fa-chevron-left fa-lg"></span>
                  </div>
                  <div style="" class="main-content">
                    <ul>
                      <li>
                        <div>
                          <div class="text-dash">-</div>
                          <div class="graph-deatais" >
                            <span>{{dashboardChartData.nbAppCanceled+" "}} cancelled</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="text-dash">-</div>
                          <div class="graph-deatais">
                            <span>{{dashboardChartData.nbAppRescheduled+" "}} reports</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <div class="text-dash">-</div>
                          <div class="graph-deatais">
                            <span>{{dashboardChartData.nbAppAbsent+" "}} absents</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="graph-detail-right-arrow" ng-click="nextClick()">
                    <span class="graph-deatais-arrows fa fa-chevron-right fa-lg"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-menu" ng-show="isChart===false">
          <div class="list-menu-body">
            <div class="list-option-header">
              <div><span>Nom</span></div>
              <div><span>Ville</span></div>
              <div><span>Statut RDV</span></div>
            </div>
            <ion-scroll zooming="true" direction="y" style="height:360px;">

              <div class="list-option-data" >
                <div class="list-option-item" ng-repeat="item in listDataItems">
                  <div><span><strong style="font-weight: bold;font-size: 14px;">{{item.clientFullName}}</strong></span></div>
                  <div><span>{{item.clientAddress}}</span></div>
                  <div><span>{{item.status}}</span></div>
                </div>
              </div>
            </ion-scroll>
          </div>
        </div>
  </div>


</ion-view>
