<ion-view cache-view="false" style="background-color: #FAFBFD">
<div class="temp-ext-height"></div>
  <div class="title-logo"></div>
  <ion-scroll zooming="true" direction="y" style="height:580px;">
  <div class="my-travel-title">
    <img class="arrow-down-travel" ng-click="openPopover($event)" src="img/down-arrow-white.png" style="margin-left: 140px;">
    <span class="tite-span" ng-click="openPopover($event)" style="padding: 3px 40px 5px 10px;">
      Mes déplacements
    </span>
  </div>

<!--block line and circle-->
  <div class="today-map-main">
    <div class="today-map">
      Aujourd’hui
    </div>
    <div class="circle-map" style="border: 1px solid #DEB0FF;"></div>
    <div class="count-1"> 0/<b>1</b></div>
    </div>
<!--line block-->
    <div class="today-map-main">
      <div class="today-map">
      </div>
      <div class="vertical-line-map"></div>
      <div class="count-1"></div>
    </div>

<!--map block-->
  <div class="main-map-container">
      <div id="graph-map"></div>
  </div>

<!--towmorrow with line and circle-->
    <div class="today-map-main" style="margin-bottom: 10px;">
      <div class="today-map">
      </div>
      <div class="vertical-line-map"></div>
      <div class="count-1"></div>
    </div>

    <div class="today-map-main">
    <div class="today-map">
      Demain
    </div>
    <div class="circle-map" style="border: 1px solid #DEB0FF;"></div>
    <div class="count-1"><b>2</b></div>
  </div>

    <div class="my-travel-title">
      <img class="arrow-down-travel" ng-click="openPopover($event)" src="img/down-arrow-white.png" style="margin-left: 105px;">
      <span class="tite-span" ng-click="openPopover($event)" style="padding: 3px 40px 5px 10px;">
        Mes Services
      </span>
    </div>
    <div class="week-from-main" ng-if="monthDashboardData.length">
      <span class="fa fa-angle-left left-angle-arrow" ng-click="prevClick()"><!-- <img src="img/left-arrow.png"> --></span>
      <span class="weekfrom-text">
         {{ 'Semaine du ' +currentWeekData.weekDate.startDay + ' au ' +
            currentWeekData.weekDate.endDay+ ' '+ currentWeekData.weekDate.thisMonth }}
      </span>
      <span class="fa fa-angle-right right-angle-arrow" ng-click="nextClick()">
       <!--  <img src="img/right-arrow.png"> -->
      </span>
    </div>

    <!--my missions blocks-->
    <div class="carousel carousel-slider">
      <div class="carousel-item graph-missions-container" ng-repeat="month in monthDashboardData" >
        <div ng-if="!month.data.length" style="text-align: center;">
              <span>
                No data for this week
              </span>
        </div>
        <div class="main-block" ng-repeat="item in month.data" ng-if="month.data.length">
          <div class="left-block">
            <div class="mission-name">{{item.dateData.month +" "+ item.dateData.day}}</div>
            <div class="circle-span"></div>
            <div class="line-div"></div>
          </div>

          <div class="right-block">
            <div ng-class="{
                'mission-details-active':item.dateData.isCurrentDay===true,
                'mission-details':item.dateData.isCurrentDay===false
                }">{{item.clientFullAddress}} <br>{{item.status}}</div>
          </div>
          <div style="clear: both"></div>
        </div>

      </div>
    </div>
  </ion-scroll>
</ion-view>
