<ion-view cache-view="false">
<ion-content>
<div class="temp-ext-height"></div>
<div class="title-logo"></div>
  <div class="nev-today" >
    <div class="yesterday" ng-click="backClick()" style="width: 40%;color: #2B4E75;background-image: url(../img/left-arrow-blue.png);">
      Tableau de bord
    </div>
  </div>
  <div class="nev-today">
    <div class="tomorrow">
      Aujourd’hui
    </div>
    <div class="tomorrow">
      Cette Semaine
    </div>
    <div class="tomorrow">
      Ce Mois ci
    </div>
  </div>
	<table>
		<tr class="primary-row thin-font-weight blue-them-color">
			<td style="width:20%;"></td><td>Vendeur(s)</td>
			<td>Nb</td>
			<td class="right-col-pr">Montant HT</td>

		</tr>
		<tr class="secondry-row blue-them-color" ng-repeat="item in nbData">
			<td class="img-col" style="width:20%;">
        <img ng-src="{{item.userPhotoId || 'img/user-male.jpg'}}""></td>
      <td class="sec-col">
        <b>{{item.userFirstName}}</b>
      </td>
			<td class="sec-col">{{item.nbSales}}</td>
			<td class="right-col">{{item.cAdone}}</td>
		</tr>
		<tr class="primary-row blue-them-color">
			<td style="width:20%;"></td><td><b>Total</b></td>
			<td>{{nbTotal.nbSales}}</td>
			<td class="right-col" style="font-weight: bold;">
        {{nbTotal.cAdone}}
      </td>

		</tr>
	</table>

</ion-content>
</ion-view>
