<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab icon-off="icon-home-custom" icon-on="icon-home-custom" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Graph Tab -->
  <ion-tab icon-off="icon-bars-custom" icon-on="icon-bars-custom" href="#/tab/graph">
    <ion-nav-view name="tab-graph"></ion-nav-view>
  </ion-tab>

  <!-- event Tab -->
  <ion-tab title="Event" icon-off="icon-euro-custom" icon-on="icon-euro-custom" href="#/tab/event">
    <ion-nav-view name="tab-event"></ion-nav-view>
  </ion-tab>

  <!-- calender Tab -->
  <ion-tab title="Calender" icon-off="icon-calendar-custom" icon-on="icon-calendar-custom" href="#/tab/calender">
    <ion-nav-view name="tab-calender"></ion-nav-view>
  </ion-tab>

  <!-- equal Tab -->
  <ion-tab title="Equal" icon-off="icon-equal-custom" icon-on="icon-equal-custom" href="#/tab/equal">
    <ion-nav-view name="tab-equal"></ion-nav-view>
  </ion-tab>


</ion-tabs>
