.sales-table-header{
  margin-left: 30%;
  height: 100px;
}
.sales-table-header div{
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
}
.sales-table-header div img{
  height: 30%;
}
.black-text{
  color: black;
}
.red-text{
  color: red;
}
.cyan-text{
  color: cyan;
}
.sales-data-container{
  width: 100%;
  height:100px;
}
.line-chart-container{
  width:30%;
  padding-left: 5%;
  color: gray;
  float: left;
}
.vertical-line-chart{
  height: 70px;
  width:9px;
  border-right: 0.5px solid lightgrey;
  display: inline-block;
}
.circle-map-green{
  color:  #29E7B5 !important;
}
.circle-chart-day{

  width:100%;
}
.circle-chart-day .circle-line-chart{
  padding-top: 20px;
}

.circle-chart-day .sales-day{
  width: 95%;
    float: left;
    font-size: 12px;
    font-weight: 300;
}
.circle-line-chart .sales-day{
  font-size: 11px;
}
.circle-chart-day .sales-chart{
  width:5%;
  float: right;
}
.sales-date-items{
  width: 70%;
  float: right;
}
.revenue-container{
  width:33.33%;
  float: left;
  text-align: center;
}
.bill-container{
  width:33.33%;
  float: left;
  text-align: center;
}
.cancelled-container{
  width:33.33%;
  float: left;
  text-align: center;
}
.date-item-container-list strong{
  font-size: x-large;
}
.light-data-item{
    color: gray;
   // font-style: italic;
    font-weight: 300;
}
#high-chart-line-basic-event{
  min-width: 310px;
  max-width: 800px;
  height: 500px;
  //margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.bar-chart-appointment{
  min-width: 310px;
  max-width: 800px;
  //height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
#high-chart-line-basic-calender{
  min-width: 310px;
  max-width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.appointment-report-list{
  margin-bottom: 100px;
}
.a-circle{
  width: 23px;
  height: 23px;
  line-height: 26px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  background: #000000;
}
.a-circle-sale{
  background-color: #00d1ff;
}
.a-circle-close{
  background-color: #3f6da1;
}
.a-circle-negotiation{
  background-color: #e9ba91;
}
.a-circle-absent{
  background-color: #ff7375;
}
.circle-align{
  float: left;
  margin-left: 4px;
}
.vendurs-container{
  padding-left: 20%;
    padding-bottom: 20px;
    font-size: 12px;
    margin-top: -20px;
}
.vendurs-container span{
  font-weight: 200;
}
.appointment-report-container .secondry-row{
  width: 100%;
  height: 60px;
  border-bottom: 3px solid white;
}
.appointment-report-container .secondry-row:nth-child(even) {background: #f2f2f2}
.appointment-report-container .secondry-row:nth-child(odd) {background: #eaeaea}
.appointment-report-container .secondry-row .img-col{
  width: 20%;
  height: 100%;
  float: left;
  padding-right: 10px;
}
.appointment-report-container .secondry-row .sec-col{
  width: 30%;
  float: left;
  padding-top: 17px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.appointment-report-container .secondry-row .report-col{
  width: 50%;
  float: left;
  padding-top: 17px;
}
.appointment-status-container{
  padding-top: 30px;
  margin-bottom: 50px;
}
.appointment-status-container span{
  padding-left: 10px;
      font-size: 12px;
}
.appointment-status-details{
  margin-top: 25px;
  width: 100%;
}
.appointment-status-details .first-row{
  width: 30%;
  float: left;
  height: 40px;
  padding-left: 10px;
}
.appointment-status-details .first-row-extended{
  width: 40%;
  float: left;
  height: 40px;
  padding-left: 10px;
}
.appointment-status-details .second-row{
  padding-left: 10px;
}
.calendar-my-mission-container{
  height:400px;;
}
.palmers-container{
  float: right;
  height: 28px;
  line-height:25px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.palmers-container .eye-icon{
  width:20px;
}
.palmers-container .right-arrow-img{
  padding-left: 10px;
}
.palmers-container .right-arrow-img img{
  padding-left: 10px;
  height: 15px;
  margin-top: 5px;
  padding-top: 3px;
}
.graph-missions-container{
  height: 400px !important;
  width: 100% !important;
}
.pie-chart-container{
      width: 100%;
    min-height: 170px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pie-chart-container-details{
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;

  position: relative;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 46px 0px rgba(214,211,214,1);
  -moz-box-shadow: 0px 0px 46px 0px rgba(214,211,214,1);
  box-shadow: 0px 0px 46px 0px rgba(214,211,214,1);
}
.pie-chart-container-details ::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 10px;
    bottom: 82px;
    left: 50%;
    box-sizing: border-box;
    border: 20px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0;
    transform: rotate(135deg);
}
.pie-chart-container-details .graph-deatail-title{
  font-size: 21px;font-weight: 400;
}
.pie-chart-container-details .graph-detail-left-arrow{
  width: 10%;
  height: 10%;
  -webkit-text-stroke: 1px white;
}
.pie-chart-container-details .graph-detail-right-arrow{
  width: 10%;
  height: 10%;
  -webkit-text-stroke: 1px white;
}
.pie-chart-container-details .main-content{
  float: left;width: 80%;
}
.pie-chart-container-details .main-content .text-dash{
  float: left;width: 26%;text-align: right;
}
.pie-chart-container-details .main-content .graph-deatais{
  float: left; width:50%;text-align: center;
}
.text-style-italic{
  font-style: italic;
}
.progress-cancelled-font{
  font-style: normal;
}
.thin-font-weight{
  font-weight: 200;
}
.one-line-heading{
  width:100%;
}
.list-container .list-active{
  font-weight: bold;
}
