/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$Blue_them:                            #2B4E75 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;


// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";
@import "./footer-tabs";
@import "./controllers-app";
@import "./login";
@import "./test-styles";



.footer-play-nice .pane, .footer-play-nice .view{
    background-color:transparent;
}
.tri-angle-up-outer{
      width: 100%;
    margin-left: 44%;
}
.tri-angle-up{
  width: 40px;
height: 40px;
border-style: solid;
border-width: 0 20px 40px 20px;
border-color: transparent transparent #ffffff transparent;
}

//heigh chart costomization
.highcharts-title {
  fill: #333333;
  font-size: 1.5em;
  display: none;
}

.highcharts-credits {
  cursor: pointer;
  fill: #999999;
  font-size: 0.7em;
  transition: fill 250ms, font-size 250ms;
  display: none;
}

.highcharts-treemap-series .highcharts-above-level {
  display: none;
}

.highcharts-contextbutton {
  fill: #ffffff;
  /* needed to capture hover */
  stroke: none;
  stroke-linecap: round;
  display: none;
}


.image-viewer-container {
  height: 380px !important;
  width: 94% !important;
  background-color: #3ec7a3;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.popover{
  height:auto;
}
.popover-container{
      //width: 80%;
    height: 250px;
    //border: 1px solid black;
  }
  .popover-title{
     width: 95%;
    text-align: center;
    color: $Blue_them;
    margin-top: 10px;


  }
  .popover-title img{
  height: 17px;
    float: right;
  }
  .tri-angle-div{
      margin-left: 66%;
  width: 30px;
height: 12px;
border-style: solid;
border-width: 0px 25px 17px 25px;
border-color: transparent transparent #FAFBFD transparent;
  }
  .list-container{
  background-color: #FAFBFD;
    height: 100%;
    width: 100%;
  }
  .list-item-container{
  display: block;
    padding-top: 10px;
  display:block;
  }
  .img-div{
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
  }
  .img-div img{
  height: 25px;
    width: 25px;
  }
  .list-name{
  display: inline-block;
  vertical-align: bottom;
  }
  .list-name p{
  color:$Blue_them;
  font-weight: 300;
  }
  .active-list-name {
  font-weight: bold;
  }
  .list-checked{
      margin-right: 10%;
      float: right;
      display: inline-block;
      color: #2B4E75;
  }
  .list-checked img{
        height: 12px;
    width: 10px;
    vertical-align: super;
  }

.no-of-appointment-main{
margin-left: 10%;
      display: block;
    margin-left: 20px;
}
.apointment-title{
color: $Blue_them;
      display: inline-block;
    margin-left: 10px;
  font-weight: bold;
}
/////tab icons
.tabs .tab-item .icon.icon-home-custom {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/icons6.png');
      background-size: 35px;
}
.tabs .tab-item .icon.icon-bars-custom {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/icons7.png');
      background-size: 35px;
}
.tabs .tab-item .icon.icon-euro-custom {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/icons8.png');
      background-size: 25px;
}
.tabs .tab-item .icon.icon-calendar-custom {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/icons9.png');
      background-size: 35px;
}
.tabs .tab-item .icon.icon-equal-custom {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/icons10.png');
      background-size: 35px;
}
/////
/////////////////////////////////////////
//title-logo
.title-logo {

      width: 100%;
    height: 60px;
    background-color: #FAFBFD;
    background-image: url(../img/logo.png);
    background-size: 230px 60px;
    background-repeat: no-repeat;
    background-position: center;

}
.title-logo img{
 height: 80px;
}
.logout-container{
  float: right;
  font-size: 16px;
  background-color: #ebebeb;
  border-radius: 3px;
  margin-right: 10px;
  padding: 3px;
}
.nev-today {
  width: 100%;
  height: 50px;
  //border:1px solid black;
  padding-top: 14px;
  display: block
}

.yesterday {
  width: 32%;
  display: inline-block;
  background-image: url(../img/left-arrow.png);
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 22px;
  font-size: 12px;
  color: #d1d1d1;
  font-style: italic;
  background-position-y: 3px;
  background-position-x: 7px;
}

.yesterday-no-image {
  -webkit-text-stroke: 1px white;
  width: 32%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 22px;
  font-size: 12px;
  color: #d1d1d1;
  font-style: italic;
  background-position-y: 3px;
  background-position-x: 7px;
}

.today {
  width: 32%;
  text-align: center;
  display: inline-block;
  //font-weight: bold;
  color: $Blue_them;
}

.tomorrow {
  text-align: right;
  width: 32%;
  display: inline-block;
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 16px;
  font-size: 12px;
  color: #d1d1d1;
  font-style: italic;
  background-position-y: 3px;
  background-position: right center;
}
.tomorrow-no-image {

    -webkit-text-stroke: 1px white;
  text-align: right;
  width: 32%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 16px;
  font-size: 12px;
  color: #d1d1d1;
  font-style: italic;
  background-position-y: 3px;
  background-position: right center;
}

.inner-tab {
  display: block;
  height: 40px;
  width: 96%;
  margin-left: 2%;
  margin-bottom: 3px;
  background-color: #FAFBFD;
  border-radius: 10px;
  padding-top: 7px;

}

.my-proportion {
    font-weight: bold;
  width: 49%;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  height: 100%;
  color: $Blue_them;

  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: 0px;
  background-position-x: 118px;
}

.list {
    font-weight: bold;
  width: 49%;
  display: inline-block;
  text-align: center;
  height: 100%;
  color: $Blue_them;

  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: 0px;
  background-position-x: 80%;
}

.home-main {
  display: block;
  width: 96%;
  margin-left: 2%;
  background-color: #FAFBFD;
  border-radius: 10px;
  box-shadow: 0px 5px 38px #f8f8fb;
}

.list-main {
  background-color: white;

}

.list-titles {
  height: 50px;
  color: $Blue_them;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: smaller;
}

.list-titles-name {
  display: inline-block;
  width: 33%;
  padding-left: 10px;
}

.list-titles-city {
  display: inline-block;
  width: 32%;
  text-align: center;
}

.list-titles-status {
  display: inline-block;
  width: 32%;
  text-align: right;
}

//////map with my travel
.my-travel-title {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 94%;
  margin-left: 3%;
  height: 23px;
  border-bottom: 3px solid $Blue_them;
      border-bottom-left-radius: 20px;

}

.tite-span {
  background: $Blue_them; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, $Blue_them, #7397c3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, $Blue_them, #7397c3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, $Blue_them, #7397c3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, $Blue_them, #7397c3); /* Standard syntax */
  color: white;
  font-weight: bold;
  padding: 3px 120px 5px 10px;
  border-radius: 8px;
}

.arrow-down-travel {
  position: absolute;
  margin-left: 175px;
  width: 15px;
  height: 25px;
}
.arrow-down-travel-mes{
position: absolute;
    margin-left: 140px;
    width: 16px;
    height: 25px;
}
.arrow-down-travel-mes img{
      position: absolute;
    margin-left: 140px;
    width: 15px;
    height: 25px;
}

.today-map-main {
  width: 96%;
  margin-left: 3%;
  height: 20px;
  display: 400;
}

.today-map {
  display: inline-block;
  width: 25%;
  font-size: smaller;
  color: darkgray;

}

.circle-map {
  border-radius: 50%;
  height: 15px;
  width: 17px;
  border: 1px solid #00d1ff;
  display: inline-block;
}

.count-1 {
  width: 60%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  color: $Blue_them;

}
.count-1 b {
      font-weight: bold;
    font-size: larger;
}

.line-map {
  height: 30px;
  border-right: 2px solid $Blue_them;
  width: 26%;

}

.vertical-line-map {
  height: 30px;
  width: 9px;
  border-right: 0.5px solid $Blue_them;
  display: inline-block;
}

.week-from-main {

    height: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;

}

.weekfrom-text {
  display: inline-block;
  font-size: smaller;
  color: darkgray;
  text-align: center;
}

.right-arrow {
  width: 10%;
}

.right-arrow img {
  height: 15px;
  width: 20px;
  float: right;
}

.left-arrow {
  width: 10%;
}

.left-arrow img {
  height: 15px;
  width: 20px;
  float: left;
}

.main-block {
  display: block;
  width: 96%;
  margin-left: 3%;
  margin-bottom: 10px;

}

.left-block {
  display: inline-block;
  height: 70px;
  width: 30%;
  //border: 1px solid red;
  float: left;

}

.right-block {
  float: left;
  display: inline-block;
  height: 70px;
  //border: 1px solid black;
  width: 70%;
}

.mission-name {
  font-size: smaller;
  color: darkgray;
  display: inline-block;
}

.circle-span {
  border-radius: 50%;
  height: 15px;
  width: 17px;
  border: 1px solid #29E7B5;
  display: inline-block;
  float: right;
}

.line-div {
  width: auto;
  height: 50px;
  border-right: 1px solid darkgray;
  margin-right: 8px;
}

.mission-details-active{
  background-color: #29E7B5;
  font-size: smaller;
  padding: 5px 0px 5px 10px;
  margin-left: 5px;
  border-radius: 10px;
  color: white;
}

.mission-details {
  font-weight: bold;
  font-size: smaller;
  padding: 5px 0px 5px 10px;
  box-shadow: 0px 0px 24px #e6e4e4;
  background-color: white;
  color: black;
  margin-left: 5px;
  border-radius: 10px;

}

.container-glow {
  padding-top: 1px;
  background-color: #FAFBFD;
  height: auto;
  box-shadow: 5px 5px 65px #d0d0d0;
  width: 96%;
  margin-left: 2%;
}
//////event tab styles
.calender-agenda-main{
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}
.calendat-img{
  display: inline-block;
  height: 17px;
  width: 18px;
  margin-top: 10px;
  margin-right: 10px;
}
.calender-text{
  display: inline-block;
  padding-bottom: 2px;
  font-size: 20px;
  font-weight: 300;
  color: $Blue_them;
}
.next-arrow-calendar{
      height: 20px;
    float: right;
    margin-top: 5px;
    padding: 7px 10px 0px 10px;
}

/**
My Styling Start
 */

//Home Page
#chart-container {
  max-width: 360px;
  height: 360px;
  margin: 0 auto;
}

.list-menu-body {
  padding-top: 20px;
}

.list-option-header {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  display: block
}

.list-option-header div {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: smaller;
  color: $Blue_them;
  font-weight: 200;
}

.list-option-data {
  padding-top: 10px;
}

.list-option-data .list-option-item:nth-child(odd) {
  background-color: #F4F4F4;
  border-bottom: 1px solid white;
  height: 50px;
  padding-top: 15px;
  display: block
}

.list-option-data .list-option-item:nth-child(even) {
  background-color: #FBFBFB;
  border-bottom: 1px solid white;
  height: 50px;
  padding-top: 15px;
  display: block
}

.list-option-data .list-option-item div {
  font-size: smaller;
  color: $Blue_them;
  width: 30%;
  float: left;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.list-option-data .list-option-item div:first-child {
  width: 38%;
  margin-left: 2%;
}

//Graph and Map Page
.main-map-container {
  // height: 400px;
  opacity: 0.7;
  background-color: lightgray;
  box-shadow: 5px 5px 65px #d0d0d0;
  width: 96%;
  margin-left: 2%;
}

.map-container {
  opacity: 0.7;
}

#graph-map {
  height: 220px;
}

#event-map {
  height: 220px;
}
.back-arrow-sales{
      height: 14px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.glow-seprator{
     width: 0px;
    float: right;
    height: 25px;
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 71px 1px #e6e6e6;
    -moz-box-shadow: 0px 0px 71px 1px #e6e6e6;
    box-shadow: 0px 0px 13px 3px #ecebeb;
    background: white;
}
.graph-deatail-title{
 color: $Blue_them;
 font-size: 15px;
 }
 .graph-deatais{
 color: #2B4E75;
    font-size: 12px;
    font-weight: 300;
    }
    .graph-deatais-arrows{
    color: $Blue_them;
    }
    .chart-container-1-container .to-left{
      float: left;
    }
    .blue-them-color{
     color: $Blue_them;

    }
    .left-angle-arrow{
        margin-left: 15px;
    display: inline-block;
    float: left;
        font-size: 20px !important;
    color: darkgray;

    }
    .right-angle-arrow{
    display: inline-block;
        font-size: 20px !important;
    margin-right: 15px;
    float: right;
    color: darkgray;

    }
.temp-ext-height{
    width: 100%;
    height: 20px;
  background-color: #FAFBFD;
}
