/* Empty. Add your own CSS if you like */
.blockdiv{
	width: 100%;
}
.historical{
	width: 100%;
	padding-bottom:1px;

}
.hisbuton{
	width: 70%;background-color: darkblue;
	color: white;
	text-align: left;
	border:none;
	border-radius:7px;
	padding:5px ;
}
.borderbtn{
	position: fixed;
	right:  0px;
	top: 26px;
	width: 30%;
	padding-right: 28%;
	border-bottom: 2px solid darkblue;
	padding-left: 5%;
}
.clear{
	clear: both;
}
.imgdiv{
	width: 20%;
	float: left;
	text-align: center;
}
.namediv{
	width: 35%;
	float: left;
	overflow: hidden;
	padding-top: 30px;
}
.status{
	float: right;
	width: 45%;
	padding-top: 30px;
}
.bordernone{
	border: none;
	padding: 0px;
	margin: 15px 0;
}
.venduer{
	margin:5% 15%;
}
.spacing{
	margin:2px;
	border-radius: 50%;
	border:none;
	color: white;
}
.apstatus{
	padding: 5%;
	color: black;

}
.marginbtn{
	margin:0 8px;
}
.btnbtn{
	background: transparent;
	border: none;
	font-size: 16px;
}
.divfirst{
	    width: 20%;
    float: left;
    background: white;
    margin-right: 3px;
    margin-left: 10px;
}
.divsecond{
	width: 38%;
	float: left;
	    padding-top: 15px;

	tecxt-align:left;
	padding-left:3px;
}
.divthird{
	width: 10%;
		    padding-top: 15px;

	float: left;

}
.divfourth{
	width: 27%;
		    padding-top: 15px;

	float: left;

}

.top-divsecond{
	width: 38%;
	float: left;

	tecxt-align:left;
}
.top-divthird{
	width: 10%;
	float: left;


}
.top-divfourth{
	width: 27%;
	float: left;

}
.primary-row{
	    height: 50px;
}
.itemmargin{
	margin: 15px 0;
}
th, td{
	    padding: 0px 5px 0px 5px !important;
	    border-radius:0px !important;
}
    .img-col img{
    border-radius: 15px;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    -webkit-box-shadow: 1px 1px 1px 1px #aba6ab;
    -moz-box-shadow: 1px 1px 1px 1px #ABA6AC;
    box-shadow: 1px 1px 1px 1px #aba6ab;
    float: right;

    }
     .img-col{
     background:#fff;
     }
    .right-col-pr{
    	text-align:right;
    	padding-right:10px;
    }
    .right-col{
    	text-align:right;
    	padding-right:25px !important;
    }

.secondry-row:nth-child(even) {background: #f4f4f4}
.secondry-row:nth-child(odd) {background: #fbfbfb}
table{
	width:95% !important;
	margin:0 auto;
}
